<div class="main">
  <div>
    <div class="ab1">
      <h1>About Me</h1>
      <img src="/image.png" class="profile" alt="Profile Picture">
      <p class="text">
        <b class="b">Hello!</b> I'm <b class="b">Sufail Ahammed N</b>, a software developer with an MCA degree and expertise in the MEAN stack. I love tackling complex problems and using emerging technologies to build impactful solutions.
      </p>
      <p class="text">
        I'm passionate about continually enhancing my skills and contributing to meaningful projects. Take a look at my portfolio to explore my work!
      </p>
    </div>
  </div>
</div>
