<div class="main">
  <div>
    <div class="ab1">
      <h1>About Me</h1>
      <img src="/image.png" class="profile" alt="Profile Picture">
      <p class="text">
        <b class="b">Hello!</b> My name is <b class="b">Sufail Ahammed N</b>, and I am 25 years old. I recently graduated with a Master of Computer Applications <b class="b">(MCA)</b> degree.
      </p>
      <p class="text">
        I am Sufail Ahammed, a passionate software developer with a Master's in Computer Applications (MCA). I have a strong foundation in web and software development, particularly skilled in the MEAN stack (MongoDB, Express, Angular, Node.js). I enjoy solving complex problems and exploring emerging technologies to build innovative solutions. My goal is to continually improve my skills and contribute to impactful projects in the tech industry.
      </p>
      <p class="text">
        I am particularly interested in exploring new technologies and applying my skills to create innovative solutions.
      </p>
      <p class="text">
        Feel free to browse through my portfolio to see some of the work I have done.
      </p>
    </div>
  </div>
</div>
